<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h1 class="w3-container">반갑습니다</h1>
<form method="POST" class="w3-container">
    <label class="w3-text-blue">ISBN</label>
    <input name="isbn" placeholder="ISBN" class="w3-input"
                th:value="${BOOK.isbn}"/>
    <label class="w3-text-blue">도서명</label>
    <input name="title" placeholder="도서명" class="w3-input"
           th:value="${BOOK.title}"/>
    <label class="w3-text-blue">출판사</label>
    <input name="comp" placeholder="출판사" class="'w3-input"
           th:value="${BOOK.comp}"/>
    <label class="w3-text-blue">저자</label>
    <input name="author" placeholder="저자" class="'w3-input"
           th:value="${BOOK.author}"/>
    <label class="w3-text-blue">출판일</label>
    <input name="pubdate" placeholder="출판일" class="'w3-input"
           th:value="${BOOK.pubdate}"/>
    <label class="w3-text-blue">정가</label>
    <input name="price" type="number"
           th:value="${BOOK.price}" class="'w3-input"/>
    <button class="w3-button w3-blue">저장</button>
</form>
<div class="w3-container">
    <table class="books w3-table w3-table-all">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>도서명</th>
            <th>출판사</th>
            <th>저자</th>
            <th>출판일</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${BOOKS}"
            th:attr="data-isbn=${book.isbn}">
            <td th:text="${book.isbn}">ISBN</td>
            <td th:text="${book.title}">도서명</td>
            <td th:text="${book.comp}">출판사</td>
            <td th:text="${book.author}">저자</td>
            <td th:text="${book.pubdate}">출판일</td>
            <td th:text="${book.price}">가격</td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const books_table = document.querySelector("table.books")
        books_table?.addEventListener("click", (e) => {
            const td = e.target
            const tr = td.closest("TR")
            const isbn = tr?.dataset.isbn
            // alert(isbn)
            document.location.href="/?code="+isbn
        })
    })

</script>


</body>
</html>